<button class="btn btn-secondary mb-3" (click)="goBack()"> Voltar </button>
<div *ngIf="hero">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label>ID</label>
        <input
        type="text"
        class="form-control"
        readonly
        value="{{hero.id}}"/>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input
        type="text"
        class="form-control"
        [(ngModel)]=hero.name
        placeholder="Nome do herói"/>
      </div>
      <button
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!hero.name.trim()"
      > Salvar</button>
    </div>
  </div>
</div>
