<div class="row">
  <div class="col">
    <app-hero-add (add)="onAdd($event)">
    </app-hero-add>
  </div>
  <div class="col">
    <app-search-input (search)="onFilter($event)"></app-search-input>
  </div>
</div>

<ul class="list-group mb-3">
  <li
  *ngFor= 'let hero of heroes | heroFilter: filter'
   class="list-group-item"
   >
   <div class="d-flex">
     <div class="p-2">
      <span class="badge badge-primary badge-pill">
        {{hero.id}}
      </span>
     </div>
     <div class="p-2">
      <a routerLink="/heroes/{{ hero.id }}">
        {{hero.name}}
      </a>
     </div>

     <div class="p-2 ml-auto">
      <button
      class="btn btn-danger"
      (click)="delete(hero)"

      >X</button>
     </div>
   </div>

  </li>
</ul>

